body {
    background-size: cover;
    font-weight: bold;
    font-size: 20px;
}

.Heading {
    width: 100%;
    color: black;
    font-weight: bolder;
    font-size: 30px;
    margin:0;
}

.heading p{
  font-size: 19px;
}

#No.Objects, #Status, #Start {
    color: black;
    font-weight: bolder;
    font-size: 25px;
}

.footer{
  background-color: white;
  color: black;
  text-align: center;
  font-weight: bolder;
  bottom: 0;
  position: fixed;
  width: 100%;
  line-height: 3;
}

canvas {
    background-color: orange;
    border: 5px solid black;
    box-shadow: 5px 5px 25px lightskyblue;
    border-radius: 15px;
    margin-top: 10px;
}

h5 {
    font-size: 20px;
}

label {
    color: black;
    font-weight: bold;
}
